<h2> Task Overview </h2>

<h4><%= @task.title %></h4>
<h6><%= @task.details %></h6>


  <ul><%= link_to "Edit this Task", :task_edit %></ul>
  <ul><%= link_to "Return to All Tasks", tasks_path %></ul>
